/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #cs-footer-2440 {
    padding: var(--sectionPadding);
    padding-bottom: 1.5rem;
    background-color: #111418;
    overflow: hidden;
  }
  #cs-footer-2440 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
  }
  #cs-footer-2440 .cs-top {
    display: flex;
    flex-direction: column;
    /* 16px - 80px */
    column-gap: clamp(1rem, 6vw, 5rem);
    row-gap: 2rem;
  }
  #cs-footer-2440 .cs-logo-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 32px - 72px */
    gap: clamp(2rem, 5vw, 4.5rem);
  }
  #cs-footer-2440 .cs-logo {
    max-width: 12.8125rem;
    height: auto;
    display: block;
  }
  #cs-footer-2440 .cs-logo-img {
    width: 100%;
    height: auto;
    display: block;
  }
  #cs-footer-2440 .cs-contact-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.875rem;
  }
  #cs-footer-2440 .cs-contact-li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #cs-footer-2440 .cs-contact-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #cs-footer-2440 .cs-contact-link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #cs-footer-2440 .cs-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #cs-footer-2440 .cs-header {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.75rem;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #cs-footer-2440 .cs-header .cs-link {
    opacity: 1;
  }
  #cs-footer-2440 .cs-li {
    font-size: 1rem;
    line-height: 1.5em;
    list-style: none;
    margin: 0;
  }
  #cs-footer-2440 .cs-link {
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
    transition: color 0.3s;
  }
  #cs-footer-2440 .cs-link:hover {
    color: var(--primary);
  }
  #cs-footer-2440 .cs-subscribe-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #cs-footer-2440 .cs-subscribe-group .cs-header {
    margin: 0;
  }
  #cs-footer-2440 .cs-form {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 1rem;
  }
  #cs-footer-2440 .cs-input {
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    color: var(--bodyTextColorWhite);
    border: none;
    border-bottom: 1px solid #21252E;
  }
  #cs-footer-2440 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #cs-footer-2440 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cs-footer-2440 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cs-footer-2440 .cs-button-solid {
    min-width: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-footer-2440 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #cs-footer-2440 .cs-bottom {
    /* 48px - 80px */
    margin-top: clamp(3rem, 6vw, 5rem);
    /* 24px - 40px */
    padding-top: clamp(1.5rem, 3vw, 2.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    position: relative;
    z-index: 1;
  }
  #cs-footer-2440 .cs-bottom:before {
    content: '';
    width: 100%;
    max-width: 80rem;
    height: 1px;
    background: #2D2F2E;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-footer-2440 .cs-flex {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    row-gap: 0.25rem;
  }
  #cs-footer-2440 .cs-divider {
    width: 1px;
    height: 0.8125rem;
    background-color: var(--bodyTextColorWhite);
    opacity: 0.8;
    display: block;
  }
  #cs-footer-2440 .cs-copyright {
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
    transition: color 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-2440 .cs-top {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  #cs-footer-2440 .cs-logo-group {
    /* 285px - 316px */
    max-width: clamp(17.8125rem, 22vw, 19.75rem);
    margin-right: auto;
  }
  #cs-footer-2440 .cs-ul {
    /* Add padding to offset the .cs-ul from the logo, which sits above the rest of the items */
    padding-top: 5.25rem;
    flex: none;
  }
  #cs-footer-2440 .cs-subscribe-group {
    width: 100%;
  }
  #cs-footer-2440 .cs-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-2440 .cs-top {
    flex-wrap: nowrap;
  }
  #cs-footer-2440 .cs-ul {
    padding: 0;
  }
  #cs-footer-2440 .cs-subscribe-group {
    width: initial;
    /* 281px - 372px */
    max-width: clamp(17.5625rem, 26vw, 23.25rem);
  }
}
