/*-- -------------------------- */
/*            Hero              */
/* -------------------------- --*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-2470 {
        padding: clamp(10.25rem, 16.82vw, 12.5rem) 1rem clamp(3.75rem, 8vw, 7.5rem);
        position: relative;
    }

    #hero-2470 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }

    #hero-2470 .cs-content {
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #hero-2470 .cs-title {
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        max-width: none;
    }

    #hero-2470 .cs-text {
        margin: 1rem 0 2rem 0;
        max-width: 40rem;
    }

    #hero-2470 .cs-button-solid {
        font-size: 1rem;
        font-weight: 700;
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-align: center;
        text-decoration: none;
        min-width: 15.625rem;
        margin: 0;
        box-sizing: border-box;
        padding: 0 1.5rem;
        background-color: var(--primary);
        color: #fff;
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    #hero-2470 .cs-button-solid:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        border-radius: 0.25rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }

    #hero-2470 .cs-button-solid:hover:before {
        width: 100%;
    }

    #hero-2470 .cs-slideshow {
        width: 100%;
        height: 106vw;
        max-height: 31.25rem;
        position: relative;
        z-index: 1;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    #hero-2470 .cs-background {
        width: 100%;
        height: 100%;
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: opacity 0.3s ease-in-out;
    }

    #hero-2470 .cs-background:before {
        content: "";
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 97%, #000 100%);
        opacity: 0.55;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #hero-2470 .cs-background.cs-active {
        opacity: 1;
    }

    #hero-2470 .cs-background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    #hero-2470 .cs-dots {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
    }

    #hero-2470 .cs-dot {
        width: 0.5rem;
        height: 0.5rem;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        display: block;
        position: relative;
        transition: width 0.3s;
        border-radius: 999px;
        overflow: hidden;
    }

    #hero-2470 .cs-dot::before {
        content: "";
        width: 0;
        height: 100%;
        background-color: var(--primary);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #hero-2470 .cs-dot.cs-active {
        width: 1rem;
    }

    #hero-2470 .cs-dot.cs-active::before {
        width: 100%;
        transition: width 7s linear;
    }

    #hero-2470 .cs-floater {
        width: 20rem;
        height: 19.625rem;
        opacity: 0.06;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-2470 {
        padding-top: clamp(7.5rem, 15vw, 17.1875rem);
        padding-bottom: clamp(7.5rem, 15vw, 17.1875rem);
    }

    #hero-2470 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #hero-2470 .cs-content {
        width: 45%;
        padding: 0;
        align-items: flex-start;
    }

    #hero-2470 .cs-slideshow {
        width: 44%;
        height: auto;
        max-height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }

    #hero-2470 .cs-floater {
        display: block;
    }
}

/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
    #hero-2470 .cs-floater {
        margin-left: -62.5rem;
        left: 50%;
    }
}
