/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #steps-2361 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
  }
  #steps-2361 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* 48px - 128px */
    gap: clamp(3rem, 9vw, 8rem);
  }
  #steps-2361 .cs-wrapper {
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 5vw, 4rem);
  }
  #steps-2361 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 46.1875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #steps-2361 .cs-text {
    margin-bottom: 1rem;
  }
  #steps-2361 .cs-text:last-of-type {
    margin-bottom: 0;
  }
  #steps-2361 .cs-picture {
    width: 100%;
    height: 100vw;
    max-height: 25rem;
    border-radius: 0.5rem;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #steps-2361 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #steps-2361 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #steps-2361 .cs-item {
    list-style: none;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    /* 60px - 80px */
    gap: clamp(3.75rem, 9vw, 5rem);
    grid-column: span 12;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
  }
  #steps-2361 .cs-item:hover {
    transform: translateY(-0.5rem);
  }
  #steps-2361 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #steps-2361 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0.5rem 0 0 0;
    color: var(--bodyTextColor);
  }
  #steps-2361 .cs-number {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    width: 100%;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  #steps-2361 .cs-icon {
    width: 1.5rem;
    height: auto;
    transition: filter 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-2361 .cs-container {
    max-width: 80rem;
  }
  #steps-2361 .cs-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #steps-2361 .cs-content {
    width: 50%;
  }
  #steps-2361 .cs-title {
    margin-bottom: auto;
  }
  #steps-2361 .cs-text {
    margin-top: 2rem;
  }
  #steps-2361 .cs-item {
    grid-column: span 6;
  }
  #steps-2361 .cs-item:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }
  #steps-2361 .cs-item:hover .cs-h3 {
    color: #fff;
  }
  #steps-2361 .cs-item:hover .cs-item-text {
    color: #fff;
  }
  #steps-2361 .cs-item:hover .cs-number {
    color: var(--secondary);
  }
  #steps-2361 .cs-item:hover .cs-icon {
    filter: brightness(0) invert(1);
  }
  #steps-2361 .cs-picture {
    width: 45%;
    max-width: 25.8125rem;
    height: auto;
    max-height: 100%;
    min-height: 26.875rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-2361 .cs-item {
    grid-column: span 3;
  }
}
